.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1.5rem;
    transition: .25s;

    &:hover {
        background-color: #55569E;
        border-color: #55569E;
    }

    .trigger {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
    }

    .trigger-arrow {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-image: url('../img/icon-arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: .25s;
    }

    .content {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: opacity .45s ease-in-out;
    }

    &.active {
        background-color: #55569E;
        border-color: #55569E;

        .trigger-arrow {
            transform: rotate(180deg);
        }

        .content {
            padding: 0 1rem 1rem 2rem;
            opacity: 1;
            height: auto;
        }
    }
}

.idioma{
    .content {
        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 1rem;
    }
    
    li::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
        background-image: url('../img/icon-check.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.habilidades {
    .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #hard{
        display: flex;
        flex-direction: column;
        gap: .75rem;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        
            li {
                margin-left: 1.5rem;
                padding: .5rem;    
            }

            img {
                max-width: 50px;
                margin: 0 .5rem;
            }
        }
    }

    #soft ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    
        li {
            margin-left: 2rem;
            padding: .5rem;
        }
    }
}

.portfolio {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 1rem 0;
        
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: .5rem;
        }

        .github::before {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-image: url('../img/icon-github.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: .5rem;
        }
        
        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.experiencia {
    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 2rem;
    }

    span {
        display: block;
        margin-bottom: .5rem;
    }
    
    .periodo {
        display: flex;
        flex-direction: row;
        align-items: center;

        &::before {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            margin-right: .5rem;
            background-image: url('../img/icon-calendar.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .title {
        font-weight: 700;
        font-size: 1.25rem;
    }
}



/* MEDIA QUERIES */
@media screen and ( min-width: 768px ) {
    .habilidades {
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}