@import url('skills.css');
@import url('language.css');
@import url('education.css');
@import url('portfolio.css');
@import url('experience.css');

.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1.5rem;
    transition: .25s;

    &:hover {
        background-color: #55569E;
        border-color: #55569E;
    }

    .trigger {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
    }

    .trigger-arrow {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-image: url('../img/icon-arrow.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: .25s;
    }

    .content {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: opacity .45s ease-in-out;
    }

    &.active {
        background-color: #55569E;
        border-color: #55569E;

        .trigger-arrow {
            transform: rotate(180deg);
        }

        .content {
            padding: 0 1rem 1rem 2rem;
            opacity: 1;
            height: auto;
        }
    }
}