.courses {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    li {
        margin: 1rem 0;

        span {
            margin-bottom: .5rem;
        }

        .title {    
            display: block;
            font-size: 1.25rem;
            font-weight: 700;
        }

        .date {
            display: inline-block;
            margin-right: .5rem;
            
            &:not(.current)::before {
                content: '';
                display: inline-block;
                width: 1rem;
                height: 1rem;
                margin-right: .5rem;
                background-image: url('../img/icons/calendar.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            &.current {
                color: #000;
                background-color: #fff;
                border-radius: .3rem;
                padding: .2rem .3rem;
            }
        }

        .time {
            display: inline-block;
                    
            &::before {
                content: '';
                display: inline-block;
                width: 1rem;
                height: 1rem;
                margin-right: .5rem;
                background-image: url('../img/icons/time.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        p {
            margin-bottom: .5rem;
            margin-right: 1rem;
        }

        a {
            display: inline-block;
            color: #fff;
            font-weight: 600;
            text-decoration: underline;
            text-overflow: ellipsis;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;

            &::before {
                content: '';
                display: inline-block;
                width: .8rem;
                height: .8rem;
                background-image: url('../img/icons/arrow-right.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: .5rem;
            }
        }
    }
}