.experience {
    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 2rem;
    }

    span {
        display: block;
        margin-bottom: .5rem;
    }
    
    .period {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        margin-bottom: .5rem;

        &::before {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            margin-right: .5rem;
            background-image: url('../img/icons/calendar.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .title {
        font-weight: 700;
        font-size: 1.25rem;
    }

    .period + p {
        margin-right: 1rem;
        margin-bottom: .5rem;
    }

    .current {
        max-width: 150px;
        text-align: center;
        margin: 0 0 0 .5rem;
        padding: .2rem .3rem;
        border-radius: .3rem;
        color: #000;
        background-color: #fff;
    }
}



/* MEDIA QUERY */
@media screen and ( min-width: 768px ) {
    .experience {
        .period {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}