.experiencia {
    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 2rem;
    }

    span {
        display: block;
        margin-bottom: .5rem;
    }
    
    .periodo {
        display: flex;
        flex-direction: row;
        align-items: center;

        &::before {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            margin-right: .5rem;
            background-image: url('../img/icon-calendar.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .title {
        font-weight: 700;
        font-size: 1.25rem;
    }
}