header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .photo {
        width: 50vw;
        height: auto;
        border-radius: 50%;
    }
    
    .title {
        text-align: center;
        font-family: "Neue Machina", "Poppins" sans-serif;
    }
    
    .information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .list-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        margin-left: 1rem;
    }
    
    .list-information li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: .5rem;
        font-size: 1.125rem;

        a {
            color: #fff;
            text-decoration: none;
        
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .icon-information {
        width: 1.125rem;
        height: 1.125rem;
        margin-right: .75rem;
    }
}



/* MEDIA QUERIES */
@media screen and ( min-width: 768px ) {
    header {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
    
        .photo {
            width: 300px;            
        }

        .title {
            align-self: flex-start;
            text-align: start;
            max-width: 100%;
        }
    }   
}