.idioma{
    .content {
        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 1rem;
    }
    
    li::before {
        content: '';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
        background-image: url('../img/icon-check.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}