.portfolio {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 1rem 0;
        
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: .5rem;
        }

        .github::before {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-image: url('../img/icon-github.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: .5rem;
        }
        
        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}