.portfolio {
    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 1rem 0;
        
        .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: .5rem;
        }

        .github::before {
            content: '';
            display: inline-block;
            width: 1rem;
            height: 1rem;
            min-width: 1rem;
            min-height: 1rem;
            background-image: url('../img/icons/github.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: .5rem;
        }
        
        a {
            display: inline-block;
            color: #fff;
            font-weight: 600;
            text-decoration: underline;
            text-overflow: ellipsis;
            max-width: 100%;
            overflow: hidden;
            white-space: nowrap;

            &::before {
                content: '';
                display: inline-block;
                width: .8rem;
                height: .8rem;
                background-image: url('../img/icons/arrow-right.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-right: .5rem;
            }
        }

        p {
            text-align: justify;
            margin-bottom: .5rem;
            margin-right: 1rem;
        }
    }
}