.skills {
    .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #hard{
        display: flex;
        flex-direction: column;
        gap: .75rem;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        
            li {
                margin-left: 1.5rem;
                padding: .5rem;    
            }

            img {
                max-width: 50px;
                margin: 0 .5rem;
            }
        }
    }

    #soft ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        
        li {
            margin-left: 2rem;
            padding: .5rem;
            list-style-type: circle;
        }
    }
}



/* MEDIA QUERIES */
@media screen and ( min-width: 768px ) {
    .skills {
        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        #soft ul {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-auto-columns: auto;
            grid-auto-flow: column;
        }
    }
}